@model IEnumerable<WebApplication_EVENTEASE_ST10448895.Models.Venue>

@{
    ViewData["Title"] = "Venue Catalog";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h1>Venue Catalog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th> Venue Image</th>
               
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            
            <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                        <img src="@item.ImageUrl" alt="Venue Image" width="100" height="100" style="object-fit:cover; border-radius:8px;" />
                        }
                        else
                        {
                        <span>No Image</span>
                        }
            </td>

            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Venue_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Venue_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Venue_ID">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
