@model WebApplication_EVENTEASE_ST10448895.Models.EventS

@{
    ViewData["Title"] = "Event Details";
}

<h1>Details</h1>

<div>
    <h4>EventS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event_Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Event_Date.ToString("MMMM dd, yyyy 'at' hh:mm tt")
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Locations)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
